body {
    margin: 0;
    padding: 0;

    font-family: Arial;
    background-color: lightgray;
}

* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 36px;
}

.items {
    display: flex;
    justify-content: space-around;
}

.items-wrap {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.items-wrap__button {
    border: 1px solid #23BAC1;
    padding: 5px 10px;
    color: #23BAC1;
}